@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  background-image: url('../images/background.png');
  background-size: cover;
  color: #f8f8ff;
  margin: 0;
  padding: 0;
}

/* Styles for Desktop Navbar */
.desktop-navbar {
  background-color: #B200FF;
  color: #fff;
  height: 5vw;
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  line-height: 4.5;
}

.desktop-navbar li {
  position: relative;
  margin: 0 20px;
  width: 150px;
}

/* Show the submenu when hovering over the parent li */
.desktop-navbar li:hover .submenu {
  display: block;
  width: auto;
}

/* Hide the submenu by default, set its width to auto, and adjust white-space */
.submenu {
  display: none;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1px;
  overflow: hidden;
  width: auto;
  white-space: nowrap;
}

/* Set a background color for submenu items on hover */
.submenu li:hover {
  background-color: #000000;
}

.submenu li {
  margin: 1px 0;
}

/* Bolden the text on hover without affecting the layout */
.desktop-navbar li:hover > a {
  font-weight: bold;
}

/* Style the subcategory links */
.submenu a {
  display: block;
  padding: 10px;
  color: #666;
}

.submenu a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

/* Styles for Mobile Topnav */
.mobile-topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  display: none;
}

.mobile-topnav #myLinks {
  display: block;
}

.mobile-topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobile-topnav a.icon {
  background: black;
  display: none;
}

.mobile-topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}
