/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global styles */
body {
    background-image: url('../images/background.png');
    background-size: cover;
    color: #f8f8ff;
    margin: 0;
    background-color: #000000;
}

/* Header styles */
.App {
    text-align: center;
}

.navbar {
    background-color: #B200FF;
    color: #ffffff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 18px; /* Decreased font size for mobile */
    text-transform: uppercase;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu .menu-item {
    position:inherit;
    width: 200px;
    cursor: pointer;
    display: block;
}

/* Submenu styles */
.menu .submenu {
    display: none;
    position: absolute; /* Change this to position: absolute */
    text-align: left;
    top: 100%;
    left: 0;
    background: #ffffff;
    padding: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.menu .menu-item:hover {
    background-color: #000000;
    color: #FFFFFF;
    position: relative; /* Add this to make the submenu relative to the parent */
}

.menu .menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #ffffff;
    padding: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.submenu a {
    display: block;
    padding: 10px;
    color: #666;
}

.submenu a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

/* Navigation links */
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

/* Mobile menu styles */
.mobile-menu {
    display: none;
}

.hamburger {
    display: block;
    cursor: pointer;
    font-size: 24px; /* Adjusted font size for the hamburger icon */
    padding: 10px; /* Added padding to the hamburger */
    margin-right: 30px;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}

@media screen and (max-width: 968px) {
    .menu.desktop {
        display: none;
    }

    .mobile-menu {
        display: flex;
        align-items: center; /* Center the hamburger menu vertically */
    }

    .mobile-dropdown {
        display: none;
        background-color: #B200FF;
        position: absolute;
        width: 100%;
        top: 100%; /* Push the mobile-dropdown menu below the navbar */
        right: 0; /* Align the right edge of the mobile-dropdown menu with the screen edge */
        list-style: none;
    }

    .mobile-dropdown a {
        color: white;
    }

    .mobile-dropdown .menu-item.open .submenu {
        background-color: #B200FF;
        display: block;
        position: relative;
        top: 0;
        width: 100%;
    }

    .mobile-dropdown ul {
        padding: 0;
    }

    .mobile-dropdown .logo {
        text-align: center;
    }

    .mobile-dropdown .logo a {
        color: white;
    }

    .mobile-dropdown .menu-item {
        cursor: pointer;
        margin: 10%;
    }

    .mobile-dropdown .menu-item:hover {
        background-color: #000000;
        color: #FFFFFF;
    }

    .mobile-dropdown .menu-item a:hover {
        background-color: #000000;
        color: #FFFFFF;
        display: block;
    }

    .mobile-dropdown .menu-item.open ul.submenu {
        display: block;
    }
}
